@import "tailwindcss";

@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-gradient {
  background: linear-gradient(-45deg, #2e026d, #15162c, #3b0764, #1e1b4b);
  background-size: 400% 400%;
  animation: gradientBackground 15s ease infinite;
}
